<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments :: page_head('Shopme', 'tag')" />
	<link th:href="@{/star-rating/css/star-rating.css}" media="all" rel="stylesheet" type="text/css" />
	<script th:src="@{/star-rating/js/star-rating.js}" type="text/javascript"></script>
	<link rel="stylesheet" th:href="@{/star-rating/themes/krajee-svg/theme.css}" media="all" type="text/css"/>
	<script th:src="@{/star-rating/themes/krajee-svg/theme.js}" type="text/javascript"></script>	
</head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div th:replace="navigation :: search_nav"></div>
		
		<th:block th:each="section : ${listSections}">	
			<div class="row mt-3">
				<div class="col"><h2>[[${section.heading}]]</h2></div>
			</div>
			
			<div class="row" th:if="${section.description != ''}">
				<th:block th:unless="${section.type.toString() == 'Text'}">
					<div class="col"><h6>[[${section.description}]]</h6></div>
				</th:block>
				<th:block th:if="${section.type.toString() == 'Text'}">
					<div th:utext="${section.description}" class="col border p-2 m-2"></div>
				</th:block>
			</div>
			
			<div class="row" th:if="${section.type.toString() == 'All_Categories'}">
				<div th:replace="homepage/all_categories_section :: content">All Categories Section</div>	
			</div>
			
			
			<div class="row" th:unless="${#lists.isEmpty(section.productSections)}">
				<div th:replace="homepage/product_section :: content">Product Section</div>	
			</div>		
	
			<div class="row" th:unless="${#lists.isEmpty(section.categorySections)}">
				<div th:replace="homepage/category_section :: content">Category Section</div>	
			</div>
			
			<div class="row" th:unless="${#lists.isEmpty(section.brandSections)}">
				<div th:replace="homepage/brand_section :: content">Brand Section</div>	
			</div>
			
			<div class="row" th:unless="${#lists.isEmpty(section.articleSections)}">
				<div th:replace="homepage/article_section :: content">Article Section</div>	
			</div>	
			
		</th:block>
	
	    <div>&nbsp;</div>
		<div th:replace="navigation :: footer_menu"></div>
	</div>
	
<script type="text/javascript">
$(document).ready(function(){	
    $('.kv-ltr-theme-svg-star').rating({
    	displayOnly: true,
        hoverOnClear: false,
        showCaption: false,
        theme: 'krajee-svg'
    });		
});
</script>	
</body>
</html>