<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div>&nbsp;</div>

	<div class="text-center">
		<h2>Customer Registration</h2>
	</div>

	<form th:action="@{/create_customer}" method="post" th:object="${customer}"
		style="max-width: 600px; margin: 0 auto"
		onsubmit="return checkEmailUnique(this);">
	<div class="border border-secondary rounded p-3">
		<div class="form-group row">
			<label class="col-sm-4 col-form-label">First Name:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{firstName}" class="form-control"
					required="required" maxlength="45" minlength="2" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Last Name:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{lastName}" class="form-control"
					required="required" maxlength="45" minlength="2" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">E-mail:</label>
			<div class="col-sm-8">
				<input type="email" th:field="*{email}" class="form-control"
					required="required" maxlength="45" minlength="8" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Password:</label>
			<div class="col-sm-8">
				<input type="password" th:field="*{password}" class="form-control"
					required="required" maxlength="15" minlength="6"
					oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"
					 />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Re-type Password:</label>
			<div class="col-sm-8">
				<input type="password" id="confirmPassword" class="form-control"
					required="required" maxlength="15" minlength="6"
					oninput="checkPasswordMatch(this)"
					 />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Phone Number:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{phoneNumber}" class="form-control"
					required="required" maxlength="15" minlength="8" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Address Line 1:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{addressLine1}" class="form-control"
					required="required" maxlength="64" minlength="3" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Address Line 2:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{addressLine2}" class="form-control"
					maxlength="64" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">City:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{city}" class="form-control"
					maxlength="45" minlength="2" />
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Country:</label>
			<div class="col-sm-8">
				<select class="form-control" th:field="*{country}">
					<th:block th:each="country : ${listCountries}">
					<option th:value="${country.id}">[[${country.name}]]</option>
					</th:block>
				</select>
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">State/Province:</label>
			<div class="col-sm-8">
			    <!-- 1. Option Dependent Dropdown-->
				<!-- <input type="text" th:field="*{state}" class="form-control"
					maxlength="45" minlength="3" list="listStates" />
				  <datalist id="listStates"></datalist> -->
				
                 <!-- 2.Option Dependent Dropdown -->
                 <select th:field="*{state}" class="form-control"  id="stateList">
                 
                 </select>
                 
			</div>
		</div>

		<div class="form-group row">
			<label class="col-sm-4 col-form-label">Postal Code:</label>
			<div class="col-sm-8">
				<input type="text" th:field="*{postalCode}" class="form-control"
					maxlength="10" minlength="2" />
			</div>
		</div>

		<div class="text-center">
			<input type="submit" value="Create Account" class="btn btn-primary" />
		</div>
	</div>
	</form>

	<div>&nbsp;</div>
	<div th:replace="fragments :: modal_dialog"></div>
	<div th:replace="navigation :: footer_menu"></div>
</div>	
<script type="text/javascript">
	contextPath = "[[@{/}]]";

</script>
<script th:src="@{/js/common_customer_form.js}"></script>
<script th:src="@{/js/common_modal.js}"></script>
<script th:src="@{/js/register.js}"></script>
</body>
</html> 