<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" th:remove="tag">
		<div class="col-sm-2 m-1">
			<div class="card">
				<div class="card-header">
					<b>Menu Items: [[${summary.totalMenuItems}]]</b>
				</div>
				<div class="card-body">
					<div><a th:href="@{/menus/new}">Create New</a></div>
					<div><a th:href="@{/menus}">View All</a></div>
					<div>Header: <b>[[${summary.headerMenuItemsCount}]]</b></div>
					<div>Footer: <b>[[${summary.footerMenuItemsCount}]]</b></div>
					<div>Enabled: <b>[[${summary.enabledMenuItemsCount}]]</b></div>
					<div>Disabled: <b>[[${summary.disabledMenuItemsCount}]]</b></div>
				</div>
			</div>			
		</div>			
	</div>
</body>
</html>