<div class="modal-header">
	<h4 class="modal-title">[[#{customer.detail}]]</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

<div>

	<ul class="nav nav-tabs" id="myTab" role="tablist">
	  <li class="nav-item">
	    <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General</a>
	  </li>
	  <li class="nav-item">
	    <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Address</a>
	  </li>
	 </ul>

	<div class="tab-content" id="myTabContent">
	  <div class="tab-pane fade show active p-3" id="general" role="tabpanel" aria-labelledby="general-tab">
		  <div class="form-group row">
		    <label for="id" class="col-sm-4 col-form-label">[[#{customer.id}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.id}" />
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="name" class="col-sm-4 col-form-label">[[#{customer.full.name}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.fullName}" />
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="email" class="col-sm-4 col-form-label">[[#{customer.email}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.email}" />
		    </div>
		  </div>  

		  <div class="form-group row">
		    <label for="phone" class="col-sm-4 col-form-label">[[#{customer.phonenumber}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.phoneNumber}" />
		    </div>
		  </div> 

		  <div class="form-group row">
		    <label for="enabled" class="col-sm-4 col-form-label">[[#{customer.enabled}]]</label>
		    <div class="col-sm-8">
		      <input type="checkbox" th:checked="${customer.enabled}" disabled="disabled" />
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="createdTime" class="col-sm-4 col-form-label">[[#{customer.createdTime}]]</label>
		    <div class="col-sm-8">
		      <span th:text="${#dates.format(customer.createdTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
		    </div>
		  </div>		   		  
	  </div>

	  <div class="tab-pane fade show p-3" id="address" role="tabpanel" aria-labelledby="address-tab">
		  <div class="form-group row">
		    <label for="address1" class="col-sm-4 col-form-label">[[#{customer.addressline1}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.addressLine1}" />
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="address2" class="col-sm-4 col-form-label">[[#{customer.addressline2}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.addressLine2}" />
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="city" class="col-sm-4 col-form-label">[[#{customer.city}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.city}" />
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="state" class="col-sm-4 col-form-label">[[#{customer.stateorprovince}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.state}" />
		    </div>
		  </div>

		  <div class="form-group row">
		    <label for="country" class="col-sm-4 col-form-label">[[#{customer.country}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.country.name}" />
		    </div>
		  </div>        

		  <div class="form-group row">
		    <label for="postal" class="col-sm-4 col-form-label">[[#{customer.postalcode}]]</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control" th:value="${customer.postalCode}" />
		    </div>
		  </div>	  
	  </div>	  
	</div>    
</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">[[#{customer.closebutton}]]</button>
</div>