<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopping Cart', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>

	<div class="text-center">
		<h2>Checkout</h2>
	</div>

	<div class="row m-1">
		<div class="col-sm-8">
			<div class="card">
				<div class="card-header"><h5>Shipping information</h5></div>
				<div class="card-body">
					<p>
						<b>Ship to:</b>&nbsp; [[${shippingAddress}]]
						<a th:href="@{/address_book}">[Ship to another address]</a>
					</p>
					<p>
						<b>Days to deliver: </b>[[${checkoutInfo.deliverDays}]] day(s)
					</p>
					<p>
						<b>Expected deliver date: </b>[[${#dates.format(checkoutInfo.deliverDate, 'E, dd MMM yyyy')}]]
					</p>
				</div>
			</div>		

			<div class="card mt-3 mb-3">
				<div class="card-header"><h5>Payment Method</h5></div>
				<div class="card-body">
					<div th:if="${checkoutInfo.codSupported}">
						<p>
							<input type="radio" /> Cash on Delivery (COD)
							&nbsp;
							<button class="btn btn-primary">Place Order with COD</button>
						</p>
					</div>
				</div>			
			</div>
		</div>

		<div class="col-sm-4">
			<div class="card">
				<div class="card-header"><h5>Order Summary</h5></div>
				<div class="card-body">
					<div>
					<table>
						<th:block th:each="item : ${cartItems}">
						<tr th:with="product = ${item.product}">
							<td>[[${item.quantity}]] X &nbsp;&nbsp;</td>
							<td width="70%">
								<a th:href="@{'/p/' + ${product.alias}}" target="_blank">
									[[${product.shortName}]]
								</a>
								<br/>
								<small>Ship: <div th:replace="fragments :: format_currency(${item.shippingCost})"></div></small>
							</td>
							<td>
								<div th:replace="fragments :: format_currency(${item.subtotal})">
							</td>
						</tr>
						</th:block>
						<tr><td colspan="3"><hr/></tr>
					</table>
					</div>

					<div class="row mt-2">
						<div class="col">Product Total: </div>
						<div class="col"><div th:replace="fragments :: format_currency(${checkoutInfo.productTotal})"></div></div>
					</div>

					<div class="row mt-2">
						<div class="col">Shipping Total: </div>
						<div class="col"><div th:replace="fragments :: format_currency(${checkoutInfo.shippingCostTotal})"></div></div>
					</div>

					<div class="row mt-2">
						<div class="col">Payment Total: </div>
						<div class="col"><b><div th:replace="fragments :: format_currency(${checkoutInfo.paymentTotal})"></div></b></div>
					</div>										
				</div>
			</div>		
		</div>		
	</div>

	<div th:replace="navigation :: footer_menu"></div>
</div>
</body>
</html>