<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Shopme', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: header_menu"></div>
	<div th:replace="navigation :: search_nav"></div>

	<div class="text-center border border-secondary rounded m-3 p-3">
		<h2>Your Order has been Completed!</h2>
		<h4>A confirmation email has been sent to you.</h4>
		<h4>Kindly check your email for the details.</h4>
	</div>


	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html> 