<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head(${pageTitle}, 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>

	<div>
		<h2>[[#{settings.review.title}]] | [[${pageTitle}]]</h2>
	</div>

	<form th:action="@{/reviews/save}" th:object="${review}" method="post"
		style="max-width: 800px; margin:  0 auto;">
		<input type="hidden" th:field="*{id}" />
	<div class="border border-secondary rounded p-3">

	  <div class="form-group row">
	    <label class="col-sm-2 col-form-label">[[#{settings.review.form.product}]]</label>
	    <div class="col-sm-10">
	      <input type="text" readonly class="form-control" th:value="${review.product.name}" />
	    </div>
	  </div>

	  <div class="form-group row">
	    <label class="col-sm-2 col-form-label">[[#{settings.review.form.customer}]]</label>
	    <div class="col-sm-10">
	      <input type="text" readonly class="form-control" th:value="${review.customer.fullName}" />
	    </div>
	  </div>

	  <div class="form-group row">
	    <label class="col-sm-2 col-form-label">[[#{settings.review.form.rating}]]</label>
	    <div class="col-sm-10">
	      <input type="text" readonly class="form-control" th:value="${review.rating}" />
	    </div>
	  </div>
	  
	  <div class="form-group row">
	    <label class="col-sm-2 col-form-label">[[#{settings.review.form.votes}]]</label>
	    <div class="col-sm-10">
	      <input type="text" readonly class="form-control" th:value="${review.votes}" />
	    </div>
	  </div>

	  <div class="form-group row">
	    <label class="col-sm-2 col-form-label">[[#{settings.review.form.reviewtime}]]</label>
	    <div class="col-sm-10">
	      <span th:text="${#dates.format(review.reviewTime, 'yyyy-MM-dd HH:mm:ss')}"></span>
	    </div>
	  </div>

	  <div class="form-group row">
	    <label class="col-sm-2 col-form-label">[[#{settings.review.form.headline}]]</label>
	    <div class="col-sm-10">
	      <input type="text" class="form-control" th:field="*{headline}" minlength="20" maxlength="128" required />
	    </div>
	  </div>

	  <div class="form-group row">
	    <label class="col-sm-2 col-form-label">[[#{settings.review.form.comment}]]</label>
	    <div class="col-sm-10">
	      <textarea rows="3" class="form-control" th:field="*{comment}" minlength="30" maxlength="300" required></textarea>
	    </div>
	  </div>	   

	  <div class="text-center">
	  	<input type="submit" th:value="#{settings.review.form.savebutton}" class="btn btn-primary m-3" />
	  	<input type="button" th:value="#{settings.review.form.cancelbutton}" class="btn btn-secondary" id="buttonCancel" />
	  </div>
	</div>
	</form>

	<div th:replace="modal_fragments :: modal_dialog"></div>

	<div th:replace="fragments :: footer"></div>
</div>	
<script type="text/javascript">
	moduleURL = "[[@{/reviews}]]";	
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html> 