<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
</head>
<body>

	<th th:fragment="column_link(fieldName, columnLabel)">
	
	
		<a class="text-white"
		   th:href="@{'/users/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
			[[${columnLabel}]]
		</a>
		
		<span th:if="${sortField == fieldName}"
			  th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>
	
	</th>
	
	
	<a th:fragment="page_link(pageNum, label)" 
	   class="page-link" 
	   th:href="@{'/users/page/${pageNum}?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${label}]]</a>
	
</body>
</html>