<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
      
<head th:replace="fragments :: page_head('Home - Shopme Admin', 'none')" />

<body>

	<div class="container-fluid">

		<div th:replace="navigation :: menu"></div>


		<div>
			<h2>[[#{app.title}]]</h2>
			[[#{app.welcome.title}]] 
			<a th:href="@{/account}" 
				sec:authentication="principal.fullname"></a>	
			<span sec:authentication="principal.authorities"></span>		
		</div>
		
		<div class="row m-1">
		  <th:block>
		    <div th:replace="dashboard/user_summary :: content" />
			<div th:replace="dashboard/category_summary :: content" />
			<div th:replace="dashboard/brand_summary :: content" />
		  </th:block>
		  
		</div>
		

		<div th:replace="fragments :: footer"></div>


	</div>


</body>

</html>