<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>

	<div th:fragment="modal_dialog" class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">[[#{modal.fragment.message.modaltitle}]]</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="modalBody"></span>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">[[#{modal.fragment.message.modalclose}]]</button>
				</div>
			</div>
		</div>
	</div>
	
	<div th:fragment="confirm_modal" class="modal fade text-center" id="confirmModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">[[#{modal.fragment.message.modaldelete}]]</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="modal-body">
					<span id="confirmText"></span>
				</div>

				<div class="modal-footer">
					<a class="btn btn-success" href="" id="yesButton">[[#{modal.fragment.message.modalyesbutton}]]</a>
					<button type="button" class="btn btn-danger" data-dismiss="modal">[[#{modal.fragment.message.modalnobutton}]]</button>
				</div>
			</div>
		</div>
	</div>		

</body>
</html> 