<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="menu">
	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
	</form>
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/images/ShopmeAdminSmall.png}" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="topNavbar">
			<ul class="navbar-nav">
			
				<th:block sec:authorize="hasAnyAuthority('Admin')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/users}">Users</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/categories}">Categories</a>
					</li>	
				
					<li class="nav-item">
						<a class="nav-link" th:href="@{/brands}">Brands</a>
					</li>
				</th:block>	
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/products}">Products</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">Customers</a>
					</li>
		
									
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping}">Shipping</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">Orders</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/report}">Sales Report</a>
					</li>
				</th:block>	
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">Articles</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">Menus</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/settings}">Settings</a>
					</li>
				</th:block>	
					
				<li>				
					<span class="fas fa-user fa-2x icon-silver"></span>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
					    th:href="@{/account}" 
						sec:authentication="principal.fullname"></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" id="logoutLink" href="">Logout</a>
					</div>
				</li>										
			</ul>
		</div>

	</nav>
</div>
</body>
</html> 