<!DOCTYPE html>
<html  
    xmlns:th="http://www.thymeleaf.org"
    >
<body>
<div th:fragment="menu">
	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit" />
	</form>
	<nav class="navbar navbar-expand-lg bg-dark navbar-dark">
		<a class="navbar-brand" th:href="@{/}">
			<img th:src="@{/images/ShopmeAdminSmall.png}" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topNavbar">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="topNavbar">
			<ul class="navbar-nav">
			
				<th:block sec:authorize="hasAuthority('Admin')">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/users}">[[#{menu.user}]]</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/users/new}">[[#{menu.create.new}]]</a>
							<a class="dropdown-item" th:href="@{/users}">[[#{menu.list.all}]]</a>
						</div>
					</li>						
				</th:block>
				

				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown"
						th:href="@{/categories}">[[#{menu.category}]]</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/categories/new}">[[#{menu.create.new}]]</a>
							<a class="dropdown-item" th:href="@{/categories}">[[#{menu.list.all}]]</a>
						</div>	
					</li>	
				

					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown"
							 th:href="@{/brands}">[[#{menu.brand}]]</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/brands/new}">[[#{menu.create.new}]]</a>
							<a class="dropdown-item" th:href="@{/brands}">[[#{menu.list.all}]]</a>
						</div>	
					</li>
				</th:block>	
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Editor', 'Shipper')">
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-toggle="dropdown"
							th:href="@{/products}">[[#{menu.product}]]</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" th:href="@{/products/new}" 
								sec:authorize="hasAnyAuthority('Admin', 'Editor')">[[#{menu.create.new}]]</a>
							<a class="dropdown-item" th:href="@{/products}">[[#{menu.list.all}]]</a>
							
							<th:block sec:authorize="hasAnyAuthority('Admin', 'Assistant')">
								<a class="dropdown-item" th:href="@{/questions}">Questions</a>
								<a class="dropdown-item" th:href="@{/reviews}">[[#{menu.review}]]</a>
							</th:block>	
							
						</div>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAuthority('Assistant')">
				    <li class="nav-item">
						<a class="nav-link" th:href="@{/questions}">Questions</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" th:href="@{/reviews}">[[#{menu.review}]]</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/customers}">[[#{menu.customer}]]</a>
					</li>
		
									
					<li class="nav-item">
						<a class="nav-link" th:href="@{/shipping_rates}">[[#{menu.shipping.rate}]]</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson', 'Shipper')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/orders}">[[#{menu.order}]]</a>
					</li>
					
					<li class="nav-item">
						<a class="nav-link" th:href="@{/reports}">[[#{menu.report}]]</a>
					</li>
				</th:block>	
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Salesperson')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/articles}">[[#{menu.article}]]</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/menus}">[[#{menu.menu}]]</a>
					</li>
				</th:block>
				
				<th:block sec:authorize="hasAuthority('Editor')">
					<li class="nav-item">
						<a class="nav-link" th:href="@{/sections}">Home Page</a>
					</li>			
				</th:block>
				
				<li class="nav-item dropdown" sec:authorize="hasAuthority('Admin')">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown" 
						th:href="@{/settings}">[[#{menu.setting}]]</a>
					<div class="dropdown-menu">
						<a class="dropdown-item" th:href="@{/settings#general}">[[#{menu.setting.general}]]</a>
						<a class="dropdown-item" th:href="@{/sections}">Home Page</a>
						<a class="dropdown-item" th:href="@{/settings#countries}">[[#{menu.setting.country}]]</a>
						<a class="dropdown-item" th:href="@{/settings#states}">[[#{menu.setting.state}]]</a>
						<a class="dropdown-item" th:href="@{/settings#mailServer}">[[#{menu.setting.mailserver}]]</a>
						<a class="dropdown-item" th:href="@{/settings#mailTemplates}">[[#{menu.setting.mailtemplate}]]</a>
						<a class="dropdown-item" th:href="@{/settings#payment}">[[#{menu.setting.payment}]]</a>
						<a class="dropdown-item" th:href="@{/sections}">Home Page</a>
					</div>
				</li>
				
					
					
				<li>				
					<span class="fas fa-user fa-2x icon-silver"></span>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" data-toggle="dropdown"
					    th:href="@{/account}" 
						sec:authentication="principal.fullname"></a>
					<div class="dropdown-menu">
						<a class="dropdown-item" id="logoutLink" href="">[[#{menu.logout}]]</a>
					</div>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" 
						th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
						th:href="${urlBuilder.replaceQueryParam('lang', 'en').toUriString()}">
						<img th:src="@{/images/english.png}" width="30">
					</a>
				</li>
				
				<li class="nav-item">
					<a class="nav-link" 
						th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
						th:href="${urlBuilder.replaceQueryParam('lang', 'tr').toUriString()}">
						<img th:src="@{/images/turkish.png}" width="30">
					</a>
				</li>
							
			</ul>
		</div>

	</nav>
</div>
</body>
</html> 