<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopme Admin', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>[[#{category.title}]]</h2>	
		<a th:href="@{/categories/new}" style="text-decoration: none;" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>

		<a th:href="@{/categories/export/csv}" style="text-decoration: none;" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>

		<a th:href="@{/categories/export/excel}" style="text-decoration: none;" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>		

		<a th:href="@{/categories/export/pdf}" style="text-decoration: none;" class="fas fa-file-pdf fa-2x icon-dark"></a>	
	</div>
	
	<div th:replace="fragments :: search_form_and_message" />

	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>[[#{category.id.title}]]</th>
					<th>[[#{category.name.title}]]</th>
					<th th:replace="fragments :: column_link('name', #{category.name.title}, 'none')" />	
					<th class="hideable-column">[[#{category.alias.title}]]</th>
					<th>[[#{category.alias.enabled}]]</th>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="cat : ${listCategories}">
					<td>[[${cat.id}]]</td>
					<td>
					    <span th:if="${cat.imagePath == null}" class="fas fa-folder fa-3x icon-silver"></span>					
						<img th:if="${cat.imagePath != null}" th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
					</td>
					<td>[[${cat.name}]]</td>
					<td class="hideable-column">[[${cat.alias}]]</td>
					<td>
						<div th:replace="fragments :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})" />
					</td>
					<td>
						<div th:replace="fragments :: edit('category', '/categories/edit/' + ${cat.id})" />
						&nbsp; 
						<div th:replace="fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id}, ${!cat.hasChildren})" />	
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="cat : ${listCategories}" class="row m-1">
			<div class="col-4">
				<img th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>			
			</div>
			<div class="col-8">
				<div>[[${cat.name}]]</div>
				<div class="mt-2">
					<div th:replace="fragments :: status(${cat.enabled}, 'category', '/categories/' + ${cat.id})" />
					&nbsp; 			
					<div th:replace="fragments :: edit('category', '/categories/edit/' + ${cat.id})" />
					&nbsp;
					<div th:replace="fragments :: delete('category', ${cat.id}, '/categories/delete/' + ${cat.id}, ${!cat.hasChildren})" />
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>
	
	<div th:if="${keyword != null}" class="text-center">
		<span>[[#{category.keyword.null.message}]]</span>
		<div th:replace="fragments :: pagination(#{category.pagination.categories})"></div>
	</div>
	
	<div th:unless="${keyword != null}">
		<div th:replace="fragments :: pagination(#{category.pagination.toplevel.categories})"></div>
	</div>
	
	<div th:replace="modal_fragments :: confirm_modal" />

	<div th:replace="fragments :: footer"></div>

</div>

<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/categories}]]";

	entityName = "category";
</script>


</body>
</html>