<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Categories - Shopme Admin')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>Manage Categories</h2>	
		<a th:href="@{/categories/new}" style="text-decoration: none;" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>

		<a th:href="@{/categories/export/csv}" style="text-decoration: none;" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>

		<a th:href="@{/categories/export/excel}" style="text-decoration: none;" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>		

		<a th:href="@{/categories/export/pdf}" style="text-decoration: none;" class="fas fa-file-pdf fa-2x icon-dark"></a>	
	</div>
	
	<div th:if="${messageSuccess != null}" class="alert alert-success text-center">
		[[${messageSuccess}]]
	</div>

	<div>
		<form th:action="@{/categories/page/1}" class="form-inline m-3">
			Filter:&nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
			&nbsp;&nbsp;
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-secondary" onclick="clearFilter()">
				<i class="fas fa-eraser"></i>
			</button>
		</form>
	</div>

	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th>ID</th>
					<th>Category Image</th>
					<th>
						<a class="text-white" th:href="@{'/categories?sortDir=' + ${reverseSortDir}}">Category Name</a>
						<span th:class="${reverseSortDir == 'desc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}" ></span>						
					</th>
					<th>Alias</th>
					<th>Enabled</th>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="cat : ${listCategories}">
					<td>[[${cat.id}]]</td>
					<td>
					    <span th:if="${cat.imagePath == null}" class="fas fa-folder fa-3x icon-silver"></span>					
						<img th:if="${cat.imagePath != null}" th:src="@{${cat.imagePath}}" style="width: 100px" class="img-fluid"/>
					</td>
					<td>[[${cat.name}]]</td>
					<td>[[${cat.alias}]]</td>
					<td>
						<div th:replace="fragments :: category_status" />
					</td>
					<td>
						<div th:replace="fragments :: category_actions" />
					</td>					
				</tr>
			</tbody>
		</table>
	</div>

	<div th:replace="fragments :: footer"></div>

</div>
</body>
</html>