<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('Products - Shopme Admin', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>[[#{products.form.title}]]</h2>	
		
		<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
			<a th:href="@{/products/new}" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>
			<a th:href="@{/products/export/csv}" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>
		</th:block>
		
	</div>

	<div>
		<form th:action="@{/products/page/1}" class="form-inline m-3" id="searchForm">
			<input type="hidden" name="sortField" th:value="${sortField}" />
			<input type="hidden" name="sortDir" th:value="${sortDir}" />

			[[#{products.detail.category}]]&nbsp;
			<select class="form-control" name="categoryId" id="dropdownCategory">
				<option value="0">[[#{products.form.allcategories}]]</option>

				<th:block th:each="cat : ${listCategories}">
				<option th:value="${cat.id}" th:selected="(${categoryId} == ${cat.id})">[[${cat.name}]]</option>
				</th:block>
			</select>

			&nbsp;[[#{products.form.filter}]]&nbsp;
			<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
			&nbsp;&nbsp;
			<button type="submit" class="btn btn-primary">
				<i class="fas fa-search"></i>
			</button>
			&nbsp;&nbsp;
			<button type="button" class="btn btn-secondary" onclick="clearFilter()">
				<i class="fas fa-eraser"></i>
			</button>
		</form>

		<div th:if="${messageSuccess != null}" class="alert alert-success text-center">
			[[${messageSuccess}]]
		</div>		
	</div>

	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th class="hideable-column"> 
						<th th:replace="fragments :: column_link('id', 'ID', 'tag')" />
					</th>
					<th>[[#{products.form.mainimage}]]</th>
					<th th:replace="fragments :: column_link('name', 'Product Name', 'none')" />
					<th class="hideable-column"> 
						<th th:replace="fragments :: column_link('brand', 'Brand', 'tag')" />
					</th>
					<th class="hideable-column">
						<th th:replace="fragments :: column_link('category', 'Category', 'tag')" />
					</th>
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<th>[[#{products.form.enabled}]]</th>
					</th:block>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="product : ${listProducts}">
					<td class="hideable-column">[[${product.id}]]</td>
					<td>
						<img th:src="@{${product.mainImagePath}}" style="width: 120px" class="img-fluid" />
					</td>
					<td>
						<a class="link-detail"
							th:href="@{'/products/detail/' + ${product.id}}"
							th:title="${product.name}"
							>[[${product.shortName}]]</a>					

					</td>
					<td class="hideable-column">[[${product.brand.name}]]</td>
					<td class="hideable-column">[[${product.category.name}]]</td>
					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
						<td>
							<div th:replace="fragments :: status(${product.enabled}, 'product', '/products/' + ${product.id})" />
						</td>
					</th:block>
					<td>
						<a class="fas fa-file-alt fa-2x icon-green link-detail"
							th:href="@{'/products/detail/' + ${product.id}}"
							title="View details of this product"
							></a>
						&nbsp;
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')"> 	
							<div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})" />
						</th:block>
						&nbsp;
						<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')"> 
							<div th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)" />
						</th:block>						
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="product : ${listProducts}" class="row m-1">
			<div class="col-4">
				<img th:src="@{${product.mainImagePath}}" style="width: 80px" class="img-fluid" />			
			</div>
			<div class="col-8">
				<div>
					<a class="link-detail" th:href="@{'/products/detail/' + ${product.id}}">[[${product.shortName}]]</a>				
				</div>
				<div class="mt-2">
					<a class="fas fa-file-alt fa-2x icon-green link-detail"
						th:href="@{'/products/detail/' + ${product.id}}"
						></a>

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor', 'Salesperson')">
					&nbsp; 	
					<div th:replace="fragments :: edit('product', '/products/edit/' + ${product.id})" />
					</th:block>

					<th:block sec:authorize="hasAnyAuthority('Admin', 'Editor')">
					&nbsp; 
					<div th:replace="fragments :: delete('product', ${product.id}, '/products/delete/' + ${product.id}, true)" />
					</th:block>		
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>
	

	<div th:replace="modal_fragments :: confirm_modal" />
	
	<div class="modal fade" id="detailModal">
		<div class="modal-dialog modal-xl">
			<div class="modal-content">
			
			</div>
		</div>
	</div>
	
	<div th:replace="fragments :: pagination('products')"></div>

	<div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/products}]]";
	entityName = "product";
	$(document).ready(function() {
		
		handleDefaultDetailLinkClick();
		
		$("#dropdownCategory").on("change", function() {
			$("#searchForm").submit();
		});
		
	});
</script>
</body>
</html> 