<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
	<div class="m-2">
		<label>[[#{products.description.shortdescription}]]</label>
		<textarea class="form-control" th:field="*{shortDescription}" rows="5" required></textarea>
	</div>

	<div class="m-2">
		<label>[[#{products.description.fulldescription}]]</label>
		<textarea class="form-control" th:field="*{fullDescription}" rows="10" required></textarea>
	</div>	
</div>		
</body>
</html> 