<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content" class="modal fade text-center" id="addProductModal">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">[[#{orders.add.product.title}]]</h4>
					<button type="button" class="close" data-dismiss="modal">&times;</button>
				</div>

				<div class="embed-responsive embed-responsive-16by9">
				  <iframe class="embed-responsive-item"></iframe>
				</div>

				<div class="modal-footer">
					<button type="button" class="btn btn-danger" data-dismiss="modal">[[#{orders.add.product.closebutton}]]</button>
				</div>
			</div>
		</div>
	</div>		
</body>
</html> 