<div class="modal-header">
	<h4 class="modal-title">[[#{orders.details.title}]]</h4>
	<button type="button" class="close" data-dismiss="modal">&times;</button>
</div>

	<div>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab">[[#{orders.details.tab.overview}]]</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="products-tab" data-toggle="tab" href="#products" role="tab">[[#{orders.details.tab.products}]]</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="shipping-tab" data-toggle="tab" href="#shipping" role="tab">[[#{orders.details.tab.shipping}]]</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" id="track-tab" data-toggle="tab" href="#track" role="tab">[[#{orders.details.tab.track}]]</a>
		  </li>		  
		</ul>
		<div class="tab-content" id="myTabContent">
		  <div class="tab-pane fade show active p-3" id="overview" role="tabpanel" aria-labelledby="overview-tab">
			<form>
			
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.orderid}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.id}">
			    </div>
			  </div>
			  
			  <th:block th:if="${isVisibleForAdminOrSalesperson}">
				  <div class="form-group row">
				    <label class="col-sm-2 col-form-label">[[#{orders.details.customer}]]</label>
				    <div class="col-sm-10">
				      <input type="text" readonly class="form-control" th:value="${order.customer.fullName}">
				    </div>
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-2 col-form-label">[[#{orders.details.productcost}]]</label>
				    <div class="col-sm-10">
				      <div th:replace="fragments :: currency_input(${order.productCost})">[[#{orders.details.cost}]]</div>
				    </div>
				  </div>			  		  
				  <div class="form-group row">
				    <label class="col-sm-2 col-form-label">[[#{orders.details.subtotal}]]</label>
				    <div class="col-sm-10">
				      <div th:replace="fragments :: currency_input(${order.subtotal})">[[#{orders.details.subtotal.text}]]</div>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-2 col-form-label">[[#{orders.details.shippingcost}]]</label>
				    <div class="col-sm-10">
				      <div th:replace="fragments :: currency_input(${order.shippingCost})">[[#{orders.details.shippingcost.text}]]</div>
				    </div>
				  </div>
				  <div class="form-group row">
				    <label class="col-sm-2 col-form-label">[[#{orders.details.tax}]]</label>
				    <div class="col-sm-10">
				      <div th:replace="fragments :: currency_input(${order.tax})">[[#{orders.details.tax.text}]]</div>
				    </div>
				  </div>
			  </th:block>
			  			  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.total}]]</label>
			    <div class="col-sm-10">
			      <div th:replace="fragments :: currency_input(${order.total})">[[#{orders.details.total.text}]]</div>
			    </div>
			  </div>
			  
			  <th:block th:if="${isVisibleForAdminOrSalesperson}">
				  <div class="form-group row">
				    <label class="col-sm-2 col-form-label"></label>
				    <div class="col-sm-10">
				      [[#{orders.details.totalformula}]]
				    </div>
				  </div>
			  </th:block>
			  			  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.paymentmethod}]]</label>
			    <div class="col-sm-10">
			      <span>[[${order.paymentMethod}]]</span>
			    </div>
			  </div>
			  			  	
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.status}]]</label>
			    <div class="col-sm-10">
			      <span>[[${order.status}]]</span>
			    </div>
			  </div>
			  		    			  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.orderdate}]]</label>
			    <div class="col-sm-10">
			      <div th:replace="fragments :: format_time(${order.orderTime})">[[#{orders.details.orderdate.text}]]</div>
			    </div>
			  </div>
			  
			</form>
		  </div>
		  <div class="tab-pane fade p-3" id="products" role="tabpanel" aria-labelledby="products-tab">
			<th:block th:each="detail, status : ${order.orderDetails}">
			<div class="row border rounded p-1" th:with="product = ${detail.product}">
				<div class="col-sm-1">
					<div class="div-count">[[${status.count}]]</div>					
				</div>
				<div class="col-sm-3"><img th:src="@{${product.mainImagePath}}" class="img-fluid" /></div>
				<div class="col-sm-8">
				
					<div class="text-wrap">
						<b>[[${product.name}]]</b>
					</div>
					
					<th:block th:if="${isVisibleForAdminOrSalesperson}">
						<div>
							[[#{orders.details.productcost}]] <div th:replace="fragments :: format_currency(${detail.productCost})" />
						</div>
						<div>
							[[#{orders.details.subtotal}]] [[${detail.quantity}]] X
							<div th:replace="fragments :: format_currency(${detail.unitPrice})" />
							 = 
							 <div th:replace="fragments :: format_currency(${detail.subtotal})" />
						</div>
						<div>
							[[#{orders.details.shippingcost}]] <div th:replace="fragments :: format_currency(${detail.shippingCost})" />
						</div>
					</th:block>	
									
				</div>
			</div>
			</th:block>
		  </div>
		  <div class="tab-pane fade p-3" id="shipping" role="tabpanel" aria-labelledby="shipping-tab">
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.deliverdates}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.deliverDays}">
			    </div>
			  </div>		  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.expecteddeliverdate}]]</label>
			    <div class="col-sm-10">
			    	<span th:text="${#dates.format(order.deliverDate, 'E, dd MMM yyyy')}"></span>
			    </div>
			  </div>			  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.firstname}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.firstName}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.lastname}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.lastName}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.phonenumber}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.phoneNumber}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.addressline1}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.addressLine1}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.addressline2}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.addressLine2}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.city}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.city}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.state}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.state}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.country}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.country}">
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.postalcode}]]</label>
			    <div class="col-sm-10">
			      <input type="text" readonly class="form-control" th:value="${order.postalCode}">
			    </div>
			  </div>			  
		  </div>  
		  
		  <div class="tab-pane fade p-3" id="track" role="tabpanel" aria-labelledby="track-tab">
		  	<div class="full-details">
			<table class="table table-striped table-bordered table-hover table-responsive-sm">
				<thead class="thead-dark">
					<tr>
						<th>[[#{orders.details.time}]]</th>
						<th>[[#{orders.details.status}]]</th>
						<th>[[#{orders.details.notes}]]</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="track : ${order.orderTracks}">
						<td>[[${track.updatedTime}]]</td>
						<td>[[${track.status}]]</td>
						<td><i>[[${track.notes}]]</i></td>
					</tr>
				</tbody>
			</table>
			</div>

			<div class="less-details">
			<th:block th:each="track : ${order.orderTracks}">
				<div class="row p-1">
					<span>[[${track.updatedTime}]]</span>
				</div>
				<div class="row p-1 ml-3">
					<span>&nbsp;&nbsp;<b>[[${track.status}]]</b>: <i>[[${track.notes}]]</i></span>
				</div>				
				<div class="row">&nbsp;</div>							
			</th:block>
			</div>
		  </div>

		</div>

	</div>

<div class="modal-footer">
	<button type="button" class="btn btn-danger" data-dismiss="modal">[[#{orders.details.closebutton}]]</button>
</div> 