<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="fragments :: page_head(#{orders.shipper.title}, 'none')" />
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: menu"></div>
		<div>
			<h2>[[#{orders.shipper.manageorders.title}]]</h2>
		</div>

		<div th:replace="fragments :: search_form_and_message" />

		<div>
			<th:block th:each="order : ${listOrders}">

				<div class="row m-1">
					<div class="col-lg-12 md-3 d-flex align-items-stretch">
						<div class="card">
							<div class="card-header">
								<div class="row">
									<div class="col">
										<span>[[#{orders.shipper.orderid}]] #[[${order.id}]]</span>
									</div>
									<div class="col">
										<div class="float-right">
											<a class="fas fa-file-alt fa-2x icon-green linkOrderDetail"
												th:href="@{'/orders/detail/' + ${order.id}}"
												title="View details of this order"></a>
										</div>
									</div>
								</div>
							</div>
							<div class="card-body">
								<div>
									<i class="fas fa-user"></i> <b>[[${order.recipientName}]]</b>
								</div>
								<div>
									<i class="fas fa-home"></i> [[${order.recipientAddress}]]
								</div>
								<div>
									<i class="fas fa-phone-alt"></i> [[${order.phoneNumber}]]
								</div>
								<div th:if="${order.COD}">
									<span>[[#{orders.shipper.cod}]] <b><div th:replace="fragments :: format_currency(${order.total})"></div></b></span>
								</div>
								<div>&nbsp;</div>
								<div class="row">

									<div
										th:replace="orders/order_status_fragment :: content(${order.picked}, 'PICKED', 'fa-people-carry')"></div>

									<div
										th:replace="orders/order_status_fragment :: content(${order.shipping}, 'SHIPPING', 'fa-shipping-fast')"></div>

									<div
										th:replace="orders/order_status_fragment :: content(${order.delivered}, 'DELIVERED', 'fa-box-open')"></div>

									<div
										th:replace="orders/order_status_fragment :: content(${order.returned}, 'RETURNED', 'fa-undo')"></div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</th:block>
		</div>

		<div class="modal fade text-center" id="confirmModal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title">[[#{orders.shipper.updateconfirmation}]]</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>

					<div class="modal-body">
						<span id="confirmText"></span>
					</div>

					<div class="modal-footer">
						<a class="btn btn-success" href="" id="yesButton">[[#{orders.shipper.yes}]]</a>
						<button type="button" class="btn btn-danger" id="noButton"
							data-dismiss="modal">[[#{orders.shipper.no}]]</button>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="fragments :: pagination('orders')"></div>

		<div class="modal fade" id="orderDetailModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content"></div>
			</div>
		</div>

		<div th:replace="fragments :: footer"></div>

	</div>
	<script th:src="@{/js/common_list.js}"></script>
	<script type="text/javascript">
		moduleURL = "[[@{/orders}]]";

		var csrfHeaderName = "[[${_csrf.headerName}]]";
		var csrfValue = "[[${_csrf.token}]]";

		$(document).ready(
				function() {
					$("[name='keyword']").attr("placeholder",
							"Type #number to search by Order ID");
					handleLinkViewOrderDetails();
				});

		function handleLinkViewOrderDetails() {
			$(".linkOrderDetail").on(
					"click",
					function(e) {
						e.preventDefault();
						linkDetailURL = $(this).attr("href");
						$("#orderDetailModal").modal("show").find(
								".modal-content").load(linkDetailURL);
					});
		}
	</script>
	<script th:src="@{/js/orders_shipper.js}"></script>
</body>
</html>
