<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">				
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.deliverdates}]]</label>
			    <div class="col-sm-10">
			      <input type="number" step="1" class="form-control" th:field="*{deliverDays}" required />
			    </div>
			  </div>		  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.expecteddeliverdate}]]</label>
			    <div class="col-sm-10">
			      <input type="date" class="form-control" th:field="*{deliverDateOnForm}" required />
			    </div>
			  </div>			  
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.firstname}]]</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" th:field="*{firstName}" required />
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.lastname}]]</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" th:field="*{lastName}" required />
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.phonenumber}]]</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" th:field="*{phoneNumber}" required />
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.addressline1}]]</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" th:field="*{addressLine1}" required />
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.addressline2}]]</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" th:field="*{addressLine2}" />
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.city}]]</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" th:field="*{city}" required />
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.country}]]</label>
			    <div class="col-sm-10">
			      <input type="hidden" name="countryName" id="countryName" th:value="${order.country}" />
			      <select class="form-control" id="country">
			      	<option th:each="aCountry : ${listCountries}" th:value="${aCountry.id}" th:selected="${aCountry.name == order.country}">[[${aCountry.name}]]</option>
			      </select>
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.state}]]</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" th:field="*{state}" list="listStates"/>
			      <datalist id="listStates">

			      </datalist>			      
			    </div>
			  </div>
			  <div class="form-group row">
			    <label class="col-sm-2 col-form-label">[[#{orders.details.postalcode}]]</label>
			    <div class="col-sm-10">
			      <input type="text" class="form-control" th:field="*{postalCode}" required />
			    </div>
			  </div>
</div> 