<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Search Product', 'none')" />
<body>
<div class="container-fluid">
	<div>
		<form th:action="@{/orders/search_product}" method="post" 
				class="form-inline my-2">
			<input type="search" required class="form-control mr-sm-2" name="keyword"
				th:value="${keyword}"
				th:placeholder="#{orders.search.productname}"
				/>
			<input type="submit" class="btn btn-outline-success" value="#{orders.search.title}" />
		</form>
	</div>

	<div class="row">
		<th:block th:each="product : ${listProducts}">
		<div class="col">
			<div>
				<a href="" class="linkProduct" th:pid="${product.id}">
					<img th:src="@{${product.mainImagePath}}" height="150">
					<br/>
					<b th:id="'pname' + ${product.id}">[[${product.shortName}]]</b>
				</a>
			</div>
		</div>
		</th:block>
	</div>
	
	<div th:replace="modal_fragments :: modal_dialog"></div>
	<div th:replace="fragments :: pagination('products')"></div>
	
</div>
<script th:src="@{/js/common_form.js}"></script>
<script type="text/javascript">
	$(document).ready(function() {
		handleLinkProduct();
	});

	function handleLinkProduct() {
		$(".linkProduct").on("click", function(e) {
			e.preventDefault();
			productId = $(this).attr("pid");
			productName = $("#pname" + productId).text();

			if (window.parent.isProductAlreadyAdded(productId)) {
				showWarningModal("The product '" + productName + "' was already added.");
			} else {				
				window.parent.addProduct(productId, productName);
			}
		});
	}
</script>
</body>
</html> 