<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Brands - Shopme Admin', 'none')" />
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>[[#{brand.managemessage}]]</h2>	
		
		<a th:href="@{/brands/new}" style="text-decoration: none;" class="fas fa-folder-plus fa-2x icon-dark mr-2"></a>

		<a th:href="@{/brands/export/csv}" style="text-decoration: none;" class="fas fa-file-csv fa-2x icon-dark mr-2"></a>

		<a th:href="@{/brands/export/excel}" style="text-decoration: none;" class="fas fa-file-excel fa-2x icon-dark mr-2"></a>		

		<a th:href="@{/brands/export/pdf}" style="text-decoration: none;" class="fas fa-file-pdf fa-2x icon-dark"></a>	

	</div>

	<div th:replace="fragments :: search_form_and_message" />

	<div class="full-details">
		<table class="table table-bordered table-striped table-hover table-responsive-xl">
			<thead class="thead-dark">
				<tr>
					<th class="hideable-column">[[#{brand.id}]]</th>
					<th>[[#{brand.logotitle}]]</th>
					<th th:replace="fragments :: column_link('name', #{brand.name}, 'none')" />
					<th>[[#{brand.categorytitle}]]</th>
					<th></th>
				</tr>								
			</thead>
			<tbody>
				<tr th:each="brand : ${listBrands}">
					<td class="hideable-column">[[${brand.id}]]</td>
					<td>
						<img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>
					</td>
					<td>[[${brand.name}]]</td>
					<td>
						<th:block th:each="cat : ${brand.categories}">
						<span class="badge badge-secondary" th:text="${cat.name}"></span>
						</th:block>
					</td>

					<td>
						<div th:replace="fragments :: edit('brand', '/brands/edit/' + ${brand.id})" />
						&nbsp; 
						<div th:replace="fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)" />						
					</td>					
				</tr>
			</tbody>
		</table>
	</div>
	
	<div class="less-details">
		<div th:each="brand : ${listBrands}" class="row m-1">
			<div class="col-6">
				<img th:src="@{${brand.logoPath}}" style="width: 100px" class="img-fluid"/>			
			</div>
			<div class="col-6">
				<div><b>[[${brand.name}]]</b></div>
				<div class="mt-2">
					<div th:replace="fragments :: edit('brand', '/brands/edit/' + ${brand.id})" />
					&nbsp; 
					<div th:replace="fragments :: delete('brand', ${brand.id}, '/brands/delete/' + ${brand.id}, true)" />
				</div>
			</div>
			<div>&nbsp;</div>
		</div>	
	</div>	
	
	<div th:replace="fragments :: pagination(#{brand.paginationtitle})"></div>

	<div th:replace="modal_fragments :: confirm_modal" />

	<div th:replace="fragments :: footer"></div>

</div>
<script th:src="@{/js/common_list.js}"></script>
<script type="text/javascript">
	moduleURL = "[[@{/brands}]]";

	entityName = "brand";
</script>
</body>
</html> 