<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Forgot Password', 'none')" />
<body>
<div class="container-fluid text-center">
	<div th:replace="navigation :: header_menu"></div>
	<div>&nbsp;</div>
	<div>
		<h2>Forgot Password</h2>
	</div>

	<form th:action="@{/forgot_password}" method="post" style="max-width: 460px; margin: 0 auto">
	<div th:if="${error != null}">
		<p class="text-danger">[[${error}]]</p>
	</div>
	<div th:if="${message != null}">
		<p class="text-warning">[[${message}]]</p>
	</div>	
	<div class="border border-secondary rounded p-3">
		<div>
			<p>We will be sending a reset password link to your email.</p>
		</div>
		<div>
			<p>
				<input type="email" name="email" class="form-control" placeholder="Enter your e-mail" 
					required="required" autofocus="autofocus" />
			</p>
		</div>
		<div>
			<p>
				<input type="submit" value="Send" class="btn btn-primary" />
			</p>
		</div>
	</div>
	</form>

	<div>&nbsp;</div>

	<div th:replace="navigation :: footer_menu"></div>
</div>	
</body>
</html> 