<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: page_head('Reset Password', 'none')" />
<body>
<div class="container-fluid text-center">
	<div th:replace="navigation :: header_menu"></div>
	<div>&nbsp;</div>
	<div>
		<h2>Reset Your Password</h2>
	</div>

	<form th:action="@{/reset_password}" method="post" style="max-width: 420px; margin: 0 auto">
	<input type="hidden" th:value="${token}" name="token" /> 
	<div class="border border-secondary rounded p-3">
		<div>
			<p>
				<input type="password" name="password" id="password" placeholder="Enter your new password"
					class="form-control"
					 minlength="8" maxlength="15" required="required" autofocus="autofocus"/>			
			</p>
		</div>
		<div>
			<p>
				<input type="password" placeholder="Confirm your new password"
					class="form-control" oninput="checkPasswordMatch(this)"
					 minlength="8" maxlength="15" required="required"/>				

			</p>
		</div>
		<div>
			<input type="submit" value="Change Password" class="btn btn-primary" />
		</div>
	</div>
	</form>

	<div>&nbsp;</div>

	<div th:replace="navigation :: footer_menu"></div>
</div>	
<script type="text/javascript">
	function checkPasswordMatch(confirmPassword) {
		if (confirmPassword.value != $("#password").val()) {
			confirmPassword.setCustomValidity("Passwords do not match!");
		} else {
			confirmPassword.setCustomValidity("");
		}
	}
</script>
</body>
</html> 