<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
	<div>
		<p>
			[[#{settings.country.title}]]
		</p>
	</div>
	<div>
		<input type="button" th:value="#{settings.country.loadcountry}" id="buttonLoadCountries" class="btn btn-primary m-2" />
	</div>
	<div>
		<select class="form-control m-2" style="height: 300px" size="3" id="dropDownCountries">
		</select>
	</div>
	
	<form id="formCountry" onsubmit="return checkUnique(this)">
		<div class="form-group row ml-2">
			<label class="col-form-label mt-2" id="labelCountryName">[[#{settings.country.countryname}]]</label>
			<div class="col-md">
				<input type="text" class="form-control mt-2" id="fieldCountryName" required minlength="3" maxlength="45"/>
			</div>
			<label class="col-form-label mt-2">[[#{settings.country.countrycode}]]</label>
			<div class="col-md">
				<input type="text" class="form-control mt-2" id="fieldCountryCode" required minlength="3" maxlength="45"/>
			</div>	
			<div class="col-lg-4 mt-2">
				<input type="button" id="buttonAddCountry" th:value="#{settings.country.newButton}" class="btn btn-secondary mr-2" />
				<input type="button" id="buttonUpdateCountry" th:value="#{settings.country.updateButton}" class="btn btn-secondary mr-2" disabled="disabled" />
				<input type="button" id="buttonDeleteCountry" th:value="#{settings.country.deleteButton}" class="btn btn-secondary" disabled="disabled" />
			</div>	
		</div>
	</form>
	
</div>
</body>
</html>

