<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
	<div>
		<p>
			Use this page to manage countries which will be displayed in the customer registration form.
			Click Load Country List first.
		</p>
	</div>
	<div>
		<input type="button" value="Load Country List" id="buttonLoadCountries" class="btn btn-primary m-2" />
	</div>
	<div>
		<select class="form-control m-2" style="height: 300px" size="3" id="dropDownCountries">
		</select>
	</div>
	<div class="form-group row ml-2">
		<label class="col-form-label mt-2" id="labelCountryName">Country Name:</label>
		<div class="col-md">
			<input type="text" class="form-control mt-2" id="fieldCountryName" />
		</div>
		<label class="col-form-label mt-2">Code:</label>
		<div class="col-md">
			<input type="text" class="form-control mt-2" id="fieldCountryCode" />
		</div>	
		<div class="col-lg-4 mt-2">
			<input type="button" id="buttonAddCountry" value="New" class="btn btn-secondary mr-2" />
			<input type="button" id="buttonUpdateCountry" value="Update" class="btn btn-secondary mr-2" disabled="disabled" />
			<input type="button" id="buttonDeleteCountry" value="Delete" class="btn btn-secondary" disabled="disabled" />
		</div>	
	</div>
</div>
</body>
</html> 