<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
	<form th:action="@{/settings/save_general}" method="post" enctype="multipart/form-data">
	<div class="form-group row">
		<label class="col-sm-4 col-form-label">[[#{settings.general.sitename}]]</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="SITE_NAME" 
				th:value="${SITE_NAME}" required  />
		</div>
	</div>	

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">[[#{settings.general.copyright}]]</label>
		<div class="col-sm-8">
			<input type="text" class="form-control" name="COPYRIGHT" 
				th:value="${COPYRIGHT}" required  />
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">[[#{settings.general.sitelogo}]]</label>
		<div class="col-sm-8">
			<img id="thumbnail" alt="Site Logo thumbnail" th:src="@{${S3_BASE_URI + SITE_LOGO}}"
				width="150" height="70"/>
			<input type="file" id="fileImage" name="fileImage" accept="image/png, image/jpeg" />

		</div>
	</div>	

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">[[#{settings.general.currencytype}]]</label>
		<div class="col-sm-8">
			<select name="CURRENCY_ID" class="form-control">
			<th:block th:each="currency : ${listCurrencies}">
				<option th:value="${currency.id}" 
					th:selected="(${currency.id} == ${CURRENCY_ID})">[[${currency}]]</option>
			</th:block>
			</select>			
		</div>
	</div>	

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">[[#{settings.general.currencysymbolposition}]]</label>
		<div class="col-sm-8">
			<select name="CURRENCY_SYMBOL_POSITION" class="form-control">
				<option value="Before price" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'Before price')">[[#{settings.general.beforeprice}]]</option>
				<option value="After price" th:selected="(${CURRENCY_SYMBOL_POSITION} == 'After price')">[[#{settings.general.afterprice}]]</option>
			</select>			
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">[[#{settings.general.decimalpointtype}]]</label>
		<div class="col-sm-8">
			<select name="DECIMAL_POINT_TYPE" class="form-control">
				<option value="POINT" th:selected="(${DECIMAL_POINT_TYPE} == 'POINT')">[[#{settings.general.point}]]</option>
				<option value="COMMA" th:selected="(${DECIMAL_POINT_TYPE} == 'COMMA')">[[#{settings.general.comma}]]</option>
			</select>			
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">[[#{settings.general.decimaldigits}]]</label>
		<div class="col-sm-8">
			<select name="DECIMAL_DIGITS" class="form-control">
			    <option value="0" th:selected="(${DECIMAL_DIGITS} == 0)">0</option>
				<option value="1" th:selected="(${DECIMAL_DIGITS} == 1)">1</option>
				<option value="2" th:selected="(${DECIMAL_DIGITS} == 2)">2</option>
				<option value="3" th:selected="(${DECIMAL_DIGITS} == 3)">3</option>
				<option value="4" th:selected="(${DECIMAL_DIGITS} == 4)">4</option>
			</select>			
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-4 col-form-label">[[#{settings.general.thousandspointtype}]]</label>
		<div class="col-sm-8">
			<select name="THOUSANDS_POINT_TYPE" class="form-control">
				<option value="POINT" th:selected="(${THOUSANDS_POINT_TYPE} == 'POINT')">[[#{settings.general.point}]]</option>
				<option value="COMMA" th:selected="(${THOUSANDS_POINT_TYPE} == 'COMMA')">[[#{settings.general.comma}]]</option>
			</select>			
		</div>
	</div>

	<div class="text-center">
		<input type="submit" th:value="#{settings.general.saveButton}" class="btn btn-primary m-3" />
	</div>	
	</form>
</div>
</body>
</html>