<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="content" th:remove="tag">
	<form th:action="@{/settings/save_payment}" method="post">
	<div class="form-group row">
		<label class="col-sm-2 col-form-label">[[#{settings.general.paypalbaseurl}]]</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="PAYPAL_API_BASE_URL" 
				th:value="${PAYPAL_API_BASE_URL}" required  />
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">[[#{settings.general.paypalclientid}]]</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="PAYPAL_API_CLIENT_ID" 
				th:value="${PAYPAL_API_CLIENT_ID}" required  />
		</div>
	</div>

	<div class="form-group row">
		<label class="col-sm-2 col-form-label">[[#{settings.general.paypalclientsecret}]]</label>
		<div class="col-sm-10">
			<input type="text" class="form-control" name="PAYPAL_API_CLIENT_SECRET" 
				th:value="${PAYPAL_API_CLIENT_SECRET}" required  />
		</div>
	</div>

	<div class="text-center">
		<input type="submit" th:value="#{settings.general.saveButton}" class="btn btn-primary m-3" />
	</div>	
	</form>
</div>
</body>
</html> 