<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<head th:replace="fragments :: page_head('Settings - Shopme Admin', 'tag')" />
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}" />
	<script th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
<div class="container-fluid">
	<div th:replace="navigation :: menu"></div>
	<div>
		<h2>Site Settings</h2>	
	</div>

	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]
	</div>

	<div>
		<ul class="nav nav-tabs" id="settingTab" role="tablist">
		  <li class="nav-item">
		    <a class="nav-link active" data-toggle="tab" href="#general" role="tab">General</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#countries" role="tab">Countries</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#states" role="tab">States</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#mailServer" role="tab">Mail Server</a>
		  </li>
		  <li class="nav-item">
		    <a class="nav-link" data-toggle="tab" href="#mailTemplate" role="tab">Mail Templates</a>
		  </li>		  
		</ul>

		<div class="tab-content">
		  <div class="tab-pane active p-3" id="general" role="tabpanel">
		  	<div th:replace="settings/general :: content" />
		  </div>
		  <div class="tab-pane" id="countries" role="tabpanel">
			<h2>Countries</h2>
		  </div>
		  <div class="tab-pane" id="states" role="tabpanel">
			<h2>States</h2>
		  </div>
		  <div class="tab-pane p-3" id="mailServer" role="tabpanel">
			<h2>Mail Server</h2>
		  </div>
		  <div class="tab-pane p-3" id="mailTemplates" role="tabpanel">
			<h2>Mail Templates</h2>
		  </div>	
		 </div>
	</div>


	<div th:replace="fragments :: footer"></div>

</div>
<script type="text/javascript">
	MAX_FILE_SIZE = 102400; // 100KB
</script>
<script th:src="@{/js/common_form.js}"></script>
</body>
</html> 